.h1-seo{
    /*color: #0225ec !important;*/
}
.d-none{
    /*color: #021996 !important;*/
}
.squares.square1 {
    background-image: url("../../assets/img/landing/dirt.png");
    background-size: 300px 300px;
}
.squares.square2 {
    background-image: url("../../assets/img/landing/spider.png");
    background-size: 400px 400px;
}
.squares.square3 {
    background-image: url("../../assets/img/landing/tnt.png");
    background-size: 200px 200px;
}
.squares.square4 {
    background-image: url("../../assets/img/landing/axe.png");
    background-size: 100px 100px;
}
.squares.square5 {
    background-image: url("../../assets/img/landing/cock.png");
    background-size: 250px 250px;
}
.squares.square6 {
    background-image: url("../../assets/img/landing/sword.png");
    background-size: 80px 80px;
}
.squares.square7 {
    background-image: url("../../assets/img/landing/creeper.png");
    background-size: 300px 300px;
}